# Computer Vision
opencv-python==4.8.1.78
ultralytics==8.0.208

# LLM & Utilities
streamlit
openai
python-dotenv
pillow
numpy<2.0.0; python_version < "3.13"
numpy>=2.1.0; python_version >= "3.13"
gTTS
groq
huggingface-hub